/* .logo {
    padding: 10px;
}
.aligned {
  display: flex;
  align-items: center;
  background-color: #ff4c68;
  padding-top: 20px;
  padding-bottom: 20px;
}

span {
  padding: 5px;
  font-weight: bold;
  font-size: 2rem;
}

.travec1{
  border-radius: 100%;
  margin-left: 20px;
  width: 5%;
}

.main-desc {
  font-family: "Montserrat-black";
  font-size: 1.5rem;
  line-height: 1.25;
  text-align: left;
  padding-left: 30px;
  padding-top: 40px;
}

.main-desc1 {
  font-family: "Montserrat-black";
  font-size: 1.5rem;
  line-height: 1.25;
  text-align: left;
  padding-left: 30px;
  padding-top: 30px
}

.main-img {
  width: 100%;
  padding-left: 70px;
  padding-bottom: 15px;
  padding-top: 30px;
  padding-right: 30px;
}

.coloured-section {
  background-color: #ff4c68;
  color: #fff;
}
#features {
  position: relative;
  z-index: 1;
}

.feature-title {
  font-size: 1.5rem;
}

.feature-box {
  padding: 4.5%;
  padding-top: 100px;
  padding-bottom: 60px;
}

.pollimg {
  width: 50%;
  border-radius: 100%;
}

.conimg {
  width: 50%;
  border-radius: 100%;
}

.weatherimg {
  width: 50%;
  border-radius: 100%;
}
.para-title:hover, .para-title:active {
  color: red;
  font-size: 150%;
}

.testimonial-text {
  font-size: 1.5rem;
  line-height: 1.5;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 80px;
  text-align: center;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin-left: 700px;
  margin-top: 35px;
  margin-bottom: 70px;
}
.social-icons {
  margin: 10px;
  margin-left: 20px;
}

.div5 {
  font-size: 1rem;
  padding-top: 100px;
  padding-left: 40%;
  padding-bottom: 100px;
}


/*h1 {
    padding-top: 150px;
    font-family: Montserrat;
    font-size: 64px;
    font-weight: 300;
    letter-spacing: 1.1px;
    text-align: center;
    color: black;
    margin: auto;
}*/
/*
.travec {
  padding-top: 10px;
  margin-right: 820px;
  width: 70px;
  height: 70px;
}

h1{
  text-align: center;
}
.converter {
  max-width: 600px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: absolute;
  background-color: white;
}
button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  width: 100%;
}
input[id="amount"]{
  display: block;
  margin-bottom: 10px;
  width: 95%;
  padding: 10px;
}
select {
 display: block;
 margin-bottom: 10px;
 width: 100%;
 padding: 10px;
}

#result {
  font-weight: bold;
  text-align: center;
}

.close {
  text-align: right;
  margin-top: -20px;
  margin-right: -20px;
  cursor: pointer;
}

h2{
    color: black;
    font-family: Montserrat;
}
#qw {
  color: black;
  padding-left: 520px;
  font-family: Montserrat;
}
#q1 {
  color: black;
  padding-left: 220px;
  font-family: Montserrat;
}
/* top menu bar */
/*
.straight-bar{
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-items: left;
}
.menu {
    position: relative;
    width: 200px;
    height: 0px;
    background-color: #f2f2f2;
  }
  .menu1 {
    position: relative;
    width: 200px;
    background-color: #f2f2f2;
  }
  .menu-bar {
    width: 30px;
    height: 20px;
    margin: 10px;
    cursor: pointer;
  }

  .bar {
    height: 4px;
    background-color: #333;
    margin-bottom: 4px;
  }

  .menu-items {
    display: none;
    padding: 0;
    margin: 0;
    list-style-type: none;
  }

  .menu-items li {
    padding: 10px;
  }

  .menu-items li a {
    text-decoration: none;
    color: #333;
  }

  .menu-items li a:hover {
    color: #666;
  }
.search-bar {
  display: flex;
    justify-content: flex-end;
    padding-right: 159px;
    padding-top: 9px;
  }
  
  .search-form {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 50px;
    overflow: hidden;
    height: 50px;
   width: 350px;
   padding-bottom: 0px;
  }
  
  .search-input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
  }
  
  .search-button {
    padding: 10px 10px;
    background-color: #f2f2f2;
    cursor: pointer;
    outline: none;
  }
  
  .search-button img {
    width: 18px;
    height: 18px;
    background-color: white;
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Varela Round", sans-serif;
}
.straight-bar {
    width: 100%;
    height: 80px;
    background: linear-gradient(to right, #00A8FF, #8A2BE2);
    animation: travel 2s linear infinite;
    display: flex;
    justify-content: flex-end;
  }

  @keyframes travel {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
  }
input {
  font-size: 20px;
  width: 0px;
  border: 0;
  background: transparent;
  outline: none;
  transition: 2s;
}
.active input {
  width: 500px;
  padding: 12px 20px;
}
.active .mic-icon {
  width: 30px;
}
.container {
  padding-top: 0px;
    max-width: 900px;
    margin: auto;
    visibility: hidden;
}
.container0 {
  padding-top: 0px;
  max-width: 1000px;
  margin: auto;
  visibility: hidden;
}
.container1 {
  padding-top: 0px;
  max-width: 1000px;
  margin: auto;
  visibility: hidden;
}
.container2 {
  padding-top: 0px;
  max-width: 1000px;
  margin: auto;
  visibility: hidden;
}
.container3 {
  padding-top: 0px;
  max-width: 1200px;
  margin: auto;
  visibility: visible;
}
#destination {
    font-family: Montserrat;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 0.9px;
    text-align: left;
    color: #27b7c1;
    padding-left: 80px;
}
#s{
   width: 40px;
   position: fixed;
   cursor: pointer;
   
}
#voiceButton{
  margin-left: 10px;
  width: 40px;
  height: 40px;
cursor: pointer;
}
.s{
  margin-left: 10px;
  width: 40px;
  height: 40px;
cursor: pointer;
}
.pngImage{
  width: 40px;
  position: fixed;
  cursor: pointer;
  padding-left: 0px;
}
#click3,#s1{
    width: 20px;
  cursor: pointer;
}
.sectiontitle {
    width: 300px;
    display: inline-block;
    vertical-align: middle; 
}
.sectiontitle h2 {
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 3.4px;
    text-align: left;
    color: #4a4a4a;
}
.weather h2 {
    position: relative;
    padding: 5px;
}
.weather h2 {
    font-family: Montserrat;
    font-size: 18px;
    line-height: 0.78;
    text-align: left;
    color: #4a4a4a;
}
main {
  max-width: 50px;
  display: flex;
  align-items: center;
  height: 20vh;
  margin: 0;
  padding: 0;
}
.rec{
  max-width: 100px;
  display: flex;
  align-items: center;
  height: 10vh;
  margin: 0;
  padding: 0;
}
.cal{
  max-width: 100px;
  display: flex;
  align-items: center;
  height: 40vh;
  margin: 0;
  padding: 0;
}
#s8{
  width: 40px;
  position: fixed;
  cursor: pointer;
}
.rectangle {
  width: 60px;
  height: 70px;
  padding: 20px;
  padding-left: 10px;
  background-color: white;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
position :fixed;
}
.rectangle1 {
  width: 60px;
  height: 70px;
  padding: 20px;
  padding-left: 10px;
  background-color: white;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
position :fixed;
}
.rectangle2 {
  width: 60px;
  height: 70px;
  padding: 20px;
  padding-left: 10px;
  background-color: white;
box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
position :fixed;
}
.weather {
    width: 250px;
    height: 280px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}
.weathericon {
    width: 150px;
    height: 150px;
}
#weather9 {
  display: flex;
  justify-content: space-between;
  min-height: 170px;
  position : relative;
  padding-left: 270px;
  padding-bottom: 40px;
  padding-top: 0px;
}
#weather {
    display: flex;
    justify-content: space-between;
    min-height: 170px;
    position : relative;
}
#weather0 {
    display: flex;
    padding-left: 140px;
    padding-top: 10px;
}
#weatherk {
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    padding-top: 10px;
}
.venue {
    width: 275px;
    padding: 20px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.venueimage {
    margin-top: 20px;
}
#venues h2 {
    font-family: Work Sans;
    font-size: 22px;
    font-weight: 600;
    line-height: 0.77;
    text-align: center;
    padding-top: 5px;
}
#venues {
    display: flex;
    justify-content: space-around;
    min-height: 250px;
}
#venuesk {
    display: flex;
    padding-left: 140px;
    padding-top: 10px;
    padding-bottom: 10px;
}
#venues0 {
    display: flex;
    padding-left: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

@media (max-width: 860px) {
    h1 {
        padding-top: 80px;
        font-size: 32px;
    }
    form {
        margin-top: 30px;
        padding-bottom: 10px;
    }
     #weather {
        display: flex;
        flex-direction: column;
    }
    .venue,.weather {
        margin: 10px auto;
        display: flex;
        flex-direction: column;
        width: 80%;
    }
    .venue,.weather {
        padding: 100px 20px;
        height: 100%;
    }
    .sectiontitle, .sectiontitle h2, #destination {
        margin: auto;
        text-align: center;
    }
} */


* {
 
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /* background-color: #ff4c68; */
}

body{
  font-family: montserrat;
   
}
nav{
  background:  #ff4c68;
  height: 80px;
  width: 100%;
}

  

.logo{
  width: 70px;
  border-radius: 100%;
  margin-top: 5px;
  margin-bottom: 10px;
  margin-left: 30px;
}

span {
  padding: 5px;
  font-weight: 300px;
  font-size: 2rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav ul{
  float: right;
  margin-right: 125px;
}


nav ul li{
  display:inline-block;
  line-height: 80px;
  margin: 0 10px;
  
}

nav ul li a{
  color: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a:hover{
  color: #ff4c68;
  text-replace: .5s;
}

.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

@media(max-width: 952px){
  .logo{
    width: 60px;
    margin-top: 10px;
    margin-left: 15px;
    
  }

  nav ul li a{
    font-size: 16px;
  }
}

@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
    
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background:white;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a{
    font-size: 20px;
  }

  a:hover{
    background: none;
    color:#ff4c68;
  }



  #check:checked ~ ul{
    left: 0;
  }
}


/* <-----search bar------> */

.search-bar{
  display: flex;
  /* justify-content: center;
  align-items: center; */
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

button{
  width: 50px;
  height: 50px;
  border-radius: 100%;
  margin-right: 10px;
  color: black;
  background-color: #ff676d;
  box-shadow: 0 0 0 rgba(white,white,white,white);
  border: none;
}

.box{
  width: 400px;
  
}

.box .search-box{
  position: relative;
  height: 50px;
  width: 600px;
  background:black;
  margin: auto;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25);
  /* transition: all 0.3s ease; */
}

/* #check:checked ~ .search-box{
  max-width: 900px;
} */

.search-box input{
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 25px;
  background: #fff;
  outline: none;
  border: none;
  padding-left: 20px;
  font-size: 18px;
}

.search-box .icon{
  position: absolute;
  right: -2px;
  top: 0;
  width: 50px;
  background: #ff676d;
  text-align: center;
  line-height: 50px;
  color: #fff;
  font-size: 20px;
  height: 100%;
  border-radius: 0 25px 25px 0;

}

/* #check:checked ~ .search-box .icon{
  background: #ff676d;
  border-radius: 0 25px 25px 0;
  width: 60px;
} */

